.listaClienteArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

.cadastrarClienteArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

