.listaFilialArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

.cadastrarFilialArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}


