.listaFornecedorArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

.cadastrarFornecedorArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}
