.listaFuncionarioArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

.cadastrarFuncionarioArea{
    position:relative;
    left:50px;
    height: 100vh;
    overflow: auto;
}

