.listaFuncionarioArea{
    position:relative;
    /*left:50px; tirei isto pq ela nao mostrava a parte direita dos dados*/
    height: 100vh;
    overflow: auto;
}
.headerArea{
    position:fixed;
    /*Só nesta tela tive q por isto p deixar o menu fixo*/
    /*pq tem muitos dados no funcionario*/
}
.tableStyle{
    background-color: #353535;
    border-radius: 15px;
    width:800px;
    margin: 0 auto;
}

.tableStyle{
    color:white;
}

.btn-excluir{
    background-color:#ff7878;
    color:white;
    border:none;
    transition: .4s;
}

.btn-excluir:hover{
    background-color:#d10100;
}

.btn-add-funcionario{
    margin-top: 2em;
    background-color: #78d600;
    color:white;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 7px;
    transition: .4s;

}

.btn-add-funcionario:hover{
    color:white;
    background-color: #4cb647;
    text-decoration: none;
}

.cadastrarFuncionarioArea{
    position:relative;
    left:50px;
    width:700px;
    /*height: 100vh; tirei ela pq ela nao mostrava a letra funcionario*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding:30px;
}

h1 {
    text-align: center;
}

.form-group {
    width: 60%;
    position: relative;
    left: 30px;
    background-color: #7EC4DA;
    padding: 2% 10%;
    border-radius: 40px;
    width: 800px;
}

.camposLogin {
    width: 350px;
}

.form-control {
    border-radius: 10px;
}

.col {
    border-radius: 10px;
}

.form-control-sm {
    border-radius: 10px;
}


.btn-enviar {
    margin-top: 2em;
    background-color: #78d600;
    color:white;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 7px;
    transition: .4s;

}

.botao-cadastrar {
    display: flex;
    justify-content: center;
}

.btn-cadastrar:hover{
    color:white;
    background-color: #4cb647;
    text-decoration: none;
}

.btn-cadastrar {
    margin-top: 2em;
    background-color: #78d600;
    color:white;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 7px;
    transition: .4s;    
    display: flex;
    justify-content: center;
}


.container {
    background-color: #B8B8B8;
}