.headerArea{
        position: absolute;
    left:0;
    background-color: #7ec4da;
    height: 100vh;
    width: 100px;
    color:white;
    box-sizing: border-box;
    /*overflow: auto;*/
}

.headerArea a{
    color:white;
    text-decoration: none;
}

.header{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    
}

.header div{
    margin:1em 0 1em 0;

}
