.listaProdutoArea{
    position:relative;
    left:50px;
     height: 100vh;
    overflow: auto;
}

.cadastrarProdutoArea{
    position:relative;
    left:50px;
     height: 100vh;
    overflow: auto;
}

h1 {
    text-align: center;
}