.listaProdutoArea{
    position:relative;
    left:50px;
     max-height: 600px;
    overflow: auto;
}

h1 {
    text-align: center;
}

.tableStyle{
    background-color: #353535;
    border-radius: 15px;
    width:800px;
    margin: 0 auto;
}

.tableStyle{
    color:white;
}

.btn-excluir{
    background-color:#ff7878;
    color:white;
    border:none;
    transition: .4s;
}

.btn-excluir:hover{
    background-color:#d10100;
}

.btn-add-produto{
    margin-top: 2em;
    background-color: #78d600;
    color:white;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 7px;
    transition: .4s;
    
}

.btn-add-produto:hover{
    color:white;
    background-color: #4cb647;
    text-decoration: none;
}

.form-group {
    width: 60%;
    position: relative;
    left: 30px;
    background-color: #7EC4DA;
    padding: 2% 10%;
    border-radius: 40px;
    width: 800px;
}

/*.cadastrarProdutoArea form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#7ec4da;
    padding: 2em;
    border-radius: 10px;
    color:white;
}*/

.cadastrarProdutoArea{
    position:relative;
    left:50px;
    width:700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding:30px;
}

body{
    background-color: #B8B8B8;
}

.form-control {
    border-radius: 10px;
}

.btn-add-produto {
    display: flex;
    justify-content: center;
}