<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.com.farmacia.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletDB</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ServletDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.FornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFornecedor</servlet-name>
        <servlet-class>br.com.farmacia.servlet.AlterarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.FilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.com.farmacia.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDB</servlet-name>
        <url-pattern>/ServletDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorServlet</servlet-name>
        <url-pattern>/FornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFornecedor</servlet-name>
        <url-pattern>/AlterarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialServlet</servlet-name>
        <url-pattern>/FilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>protegido/header.jsp</welcome-file>
    </welcome-file-list>
</web-app>
