<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletDB</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ServletDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFornecedor</servlet-name>
        <servlet-class>br.com.farmacia.servlet.CadastrarFornecedor</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ListarFornecedores</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ListarFornecedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFornecedor</servlet-name>
        <servlet-class>br.com.farmacia.servlet.AlterarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>br.com.farmacia.servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.com.farmacia.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.com.farmacia.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>br.com.farmacia.servlet.CadastrarVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDB</servlet-name>
        <url-pattern>/ServletDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFornecedor</servlet-name>
        <url-pattern>/CadastrarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFornecedores</servlet-name>
        <url-pattern>/ListarFornecedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFornecedor</servlet-name>
        <url-pattern>/AlterarFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
